{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
  <!-- BreadCrumb -->
  <nav aria-label="breadcrumb" role="navigation">
    <ol class="breadcrumb adminx-page-breadcrumb">
      <li class="breadcrumb-item">
        <a href="#">Home</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
    </ol>
  </nav>

  <div class="pb-3">
    <form class="card mb-grid bg-light" method="post">
      {% csrf_token %}

      <div class="card-header d-flex justify-content-between align-items-center">
        <div class="card-header-title">+ AJOUTER UNE NOUVELLE ANNÉE SCOLAIRE</div>
      </div>
      <div class="card-body">
        {% if form.errors %}
        <section class="form-error mb-3 text-danger">
          <small>Veuillez corriger les erreurs suivantes</small>
          <small>
            {{ form.errors }}
          </small>
        </section>
        {% endif %}
        <section class="form-row">
            <div class="col-lg-2 col-md-6 mb-3">
                {% render_field form.name %}
            </div>
        </section>
        <section class="my-3">
          <button class="btn btn-success" type="submit">Enregistrer</button>
        </section>
        </div>
    </div>

    
  </div>
{% endblock %}
