{% load static %}
<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>INFAS MAN - GESTION DES ETUDIENTS DE L'INFAS DE MAN</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link rel="stylesheet" type="text/css" href="{% static 'dist/css/adminx.css' %}" media="screen" />

    <!--                                             
      # Optional Resources
      Feel free to delete these if you don't need them in your project
                                                 -->
  </head>
  <body>
    <div class="adminx-container">
      <nav class="navbar navbar-expand justify-content-between fixed-top">
        <a class="navbar-brand mb-0 h1 d-none d-md-block" href="{% url 'core:home' %}">
          <img src="{% static 'demo/img/logo.png' %}" class="navbar-brand-image d-inline-block align-top mr-2" alt="" />
          INFAS MAN
        </a>

        <div class="d-flex flex-1 d-block d-md-none">
          <a href="#" class="sidebar-toggle ml-3"><i data-feather="menu"></i></a>
        </div>

        <ul class="navbar-nav d-flex justify-content-end mr-2">
          <li class="nav-item dropdown">
            <a class="nav-link avatar-with-name" id="navbarDropdownMenuLink" data-toggle="dropdown" href="#"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/jsa/128.jpg" class="d-inline-block align-top" alt="" /></a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/admin">My Profile</a>
              <a class="dropdown-item" href="#">My Tasks</a>
              <a class="dropdown-item" href="#">Settings</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item text-danger" href="#">Sign out</a>
            </div>
          </li>
        </ul>
      </nav>

      <!-- expand-hover push -->
      <!-- Sidebar -->
      <div class="adminx-sidebar expand-hover push">
        <ul class="sidebar-nav">
          <li class="sidebar-nav-item">
            <a href="index.html" class="sidebar-nav-link active">
              <span class="sidebar-nav-icon"><i data-feather="home"></i></span>
              <span class="sidebar-nav-name">Dashboard</span>
              <span class="sidebar-nav-end"></span>
            </a>
          </li>

          <li class="sidebar-nav-item">
            <a class="sidebar-nav-link collapsed" data-toggle="collapse" href="#example" aria-expanded="false" aria-controls="example">
              <span class="sidebar-nav-icon"><i data-feather="pie-chart"></i></span>
              <span class="sidebar-nav-name">Gestion étudients</span>
              <span class="sidebar-nav-end"><i data-feather="chevron-right" class="nav-collapse-icon"></i></span>
            </a>

            <ul class="sidebar-sub-nav collapse" id="example">
              <li class="sidebar-nav-item">
                <a href="{% url 'core:student_list' %}" class="sidebar-nav-link">
                  <span class="sidebar-nav-abbr">LDE</span>
                  <span class="sidebar-nav-name">Liste des etudients</span>
                </a>
              </li>

              <li class="sidebar-nav-item">
                <a href="{% url 'core:create_student' %}" class="sidebar-nav-link">
                  <span class="sidebar-nav-abbr">Add</span>
                  <span class="sidebar-nav-name">Ajouter un etudient</span>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <!-- Sidebar End -->

      <!-- adminx-content-aside -->
      <div class="adminx-content">
        <!--                                              <div class="adminx-aside">

        </div>                                              -->

        <div class="adminx-main-content">
          <div class="container-fluid">
            {% block content %}

            {% endblock %}
          </div>
        </div>
      </div>
    </div>

    <!-- If you prefer jQuery these are the required scripts -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
    <script src="{% static 'dist/js/vendor.js' %}"></script>
    <script src="{% static 'dist/js/adminx.js' %}"></script>

    <!-- If you prefer vanilla JS these are the only required scripts -->
    <!--                                              script src="./dist/js/vendor.js"></script>
    <script src="./dist/js/adminx.vanilla.js"></script                                             -->
  </body>
</html>
